<!doctype html>
<html lang="es">
<head>

    <% const existeMensajeError = typeof mensaje !== "undefined"%>

    <% if (existeMensajeError){%>
    <p>MENSAJE: <%=mensaje%></p>
    <%}%>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="/CSS/estilos-generales.css">

    <link rel="stylesheet" href="/bootstrap/css/animate.css">

</head>

<body>


<% const existeMensaje = typeof mensajeVerificacion !== "undefined"%>

<% if (existeMensaje){%>
<p>MENSAJE: <%=mensajeVerificacion%></p>
<%}%>

<br><br>

<div class="container col-sm-12" >

    <center>
        <img align="center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvD3sYuvvRx4Iua6OugaiUP4bAUh8ZovsDErVLnXldX3uZN0Tb" alt="Los Tejos" />
    </center>
    <h2 align="center">Ingresa tus credenciales</h2>


    <form action="/login"
          method="post">
        <div>
            <div class="form-group">
                <label for="correo">Usuario</label>
                <input id="correo" type="email" name="correo" required class="form-control">
            </div>
            <div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" required class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">

                    <button  class="btn btn-outline-info btn-block espaciado-boton" >Iniciar Sesión</button>
                </div>
                <div class="col-sm-3"></div>
            </div>

        </div>

    </form>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <a href="/usuario/crear-usuario">
                <button  class="btn btn-outline-info btn-block espaciado-boton">Registrar</button>
            </a>
        </div>
        <div class="col-sm-3"></div>
    </div>

</div>
<%- include('librerias')%>

