<%- include('header') %>

<% const existeMensaje = typeof mensaje !== "undefined"%>

<div class="container col-lg-4 "  style="width: 100%">
    <h1>REGISTRAR</h1>


    <% if (existeMensaje){%>

        <div class="<%= clase %>" role="alert">
            <span class="font-weight-bold">
                MENSAJE:
            </span> : <%= mensaje %>
        </div>
    <%}%>


    <form action="/usuario/crear-usuario" method="POST">

        <div class="row" >
            <div class="col-sm-10">
                <div class="form-group"></div>
                <label for="nickname"> Nickname </label>
                <input type="text"
                       id="nickname"
                       name="nickname"
                       type="text"
                       class="form-control">
            </div>
        </div>


        <div class="row" >
            <div class="col-sm-10">
                <div class="form-group"></div>
                <label for="nombreCompletoUsuario"> Nombre completo </label>
                <input type="text"
                       id="nombreCompletoUsuario"
                       name="nombreCompletoUsuario"
                       type="text"
                       class="form-control">
            </div>
        </div>


        <div class="row" >
            <div class="col-sm-10">
                <div class="form-group"></div>
                <label for="direccionUsuario"> Dirección </label>
                <input type="text"
                       id="direccionUsuario"
                       name="direccionUsuario"
                       type="text"
                       class="form-control">
            </div>
        </div>


        <div class="row" >
            <div class="col-sm-10">
                <div class="form-group"></div>
                <label for="telefonoUsuario">Teléfono </label>
                <input type="text"
                       id="telefonoUsuario"
                       name="telefonoUsuario"
                       type="text"
                       class="form-control">
            </div>
        </div>

        <div class="row" >
            <div class="col-sm-10">
                <div class="form-group"></div>
                <label for="emailUsuario"> Correo electrónico </label>
                <input type="text"
                       id="emailUsuario"
                       name="emailUsuario"
                       type="text"
                       class="form-control">
            </div>
        </div>


        <div class="row" >
            <div class="col-sm-10">
                <div class="form-group"></div>
                <label for="passwordUsuario"> Password </label>
                <input type="password"
                       id="passwordUsuario"
                       name="passwordUsuario"
                       type="text"
                       class="form-control">
            </div>
        </div>


        <div class="row">
            <div class="col-sm-10">
                <div class="form-group"></div>
                <label for="fotoUsuario">Link de la foto</label>
                <input type="text"
                       name="fotoUsuario"
                       id="fotoUsuario"
                       class="form-control">

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <button class="btn btn-outline-info btn-block espaciado-boton">
                    Crear usuario</button>
            </div>
            <div class="col-sm-3"></div>

        </div>

    </form>

    <a href="/login">
        <button class="btn btn-outline-info espaciado-boton">Regresar</button>
    </a>

</div>


<%- include('librerias')%>

