.espaciado-busqueda{
    margin-top: 31px;
}
.quitar-link:hover{
    text-decoration: none;
}
.espaciado-boton{
    margin-top: 10px;
    margin-bottom: 10px;

}
.scroll-tabla{
    height: 250px;
    overflow: auto;
}